/* #region Global */

/* Font */
@font-face {
    font-family: 'Bradley Gratis';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF;
    src: url('BradleyGratis.woff2') format('woff2'),
         url('BradleyGratis.woff') format('woff');
    // url('BradleyGratis.eot')
    // url('BradleyGratis.ttf') format('truetype'),
    // url('BradleyGratis.svg#BradleyGratis') format('svg');
    // url('BradleyGratis.eot?#iefix') format('embedded-opentype'),
}

/* WordPress: hide Edit button */
.post-edit-link {
    display: none;
}

/* Mask: destroyed edges */
.mask-destroyed-edge {
    mask-image: url("../img/mask-destroyed.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

/* Mask: ripped paper edge */
.mask-ripped-edge {
    -webkit-mask: url("../img/mask-ripped_top.webp") top/auto 50px repeat-x,
                  linear-gradient(white, white) no-repeat center/100% calc(100% - 2*50px),
                  url("../img/mask-ripped_bot.webp") bottom/auto 50px repeat-x;
}

/* Background */
body {
    min-height: 100%;

    /* Background */
    background-image: url("../img/background.webp");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    /* Font */
    h1, h2, h3, h4 {
        color: black;
    }

    p {
        font-size: 18px;
        color: black;
    }
}

/* Header */
.header-title {
    color: white;
    text-shadow:
        1.5px 1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000;
}

/* Navbar */
#wrapper-navbar {
    position: sticky;
    top: 0;
    // overflow: hidden;
    z-index: 100;
}

.nav-background {
    height: 5vh;

    background-image: url("../img/div-dark.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    padding: 0px;

    mask-image: url("../img/mask-destroyed.webp");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
}

.navbar {
    transform: translateY(-5.5vh);

    .ms-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .nav-link {
        color: white;
        padding: 0px;
        font-size: 24px;
        font-family: "Bradley Gratis";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        text-shadow:
            1.5px 1.5px 0 #000,
            -1.5px 1.5px 0 #000,
            -1.5px -1.5px 0 #000,
            1.5px -1.5px 0 #000;
    }
}

/* Hover dropdown */
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

/* Nested dropdown */
.menu-item-has-children .menu-item-has-children:hover > .dropdown-menu {
    display: inline-block;
    left: 9em;
    top: -1ex;
}

.menu-item-has-children .menu-item-has-children:hover {
    background-color: WhiteSmoke;
}

/* Content */
#page-wrapper {
    padding-bottom: 0px;
}

.entry-content {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    background-image: url("../img/div.webp");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask: url("../img/mask-ripped_top.webp") top/auto 50px repeat-x,
                  linear-gradient(white, white) no-repeat center/100% calc(100% - 2*50px),
                  url("../img/mask-ripped_bot.webp") bottom/auto 50px repeat-x;
}

/* Blog/News */
#archive-wrapper {
    #main {
        text-align: center;
        padding-top: 25px;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        padding-bottom: 25px;
        background-image: url("../img/div.webp");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-mask: url("../img/mask-ripped_top.webp") top/auto 50px repeat-x,
                      linear-gradient(white, white) no-repeat center/100% calc(100% - 2*50px),
                      url("../img/mask-ripped_bot.webp") bottom/auto 50px repeat-x;
    }

    .entry-content {
        padding-left: 0;
        padding-right: 0;
        background-image: none;
        mask-image: none;
    }
}

/* Footer */
#wrapper-footer {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #330f03;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    a, p, i {
        color: #c7a56b;
    }

    .footer-copyright {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-basis: 33%;
        font-size: 16px;
        margin-bottom: 0px;

        i {
            padding-top: 0.35rem;
        }

        p {
            padding-top: 0.1rem;
            padding-left: 0.5rem;
            margin: 0px;
        }
    }

    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-basis: 33%;
        font-size: 38px;
        margin-bottom: 0px;

        a {
            padding: 0px;
            margin-right: 1rem;
        }

        a:hover, i:hover {
            color: white !important;
        }
    }

    .footer-policies {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-basis: 33%;
        font-size: 24px;
        margin-bottom: 0px;

        a {
            padding: 0px;
            margin-left: 1rem;
        }

        a:hover, i:hover {
            color: white !important;
        }
    }
}
/* #endregion */

/* #region Front page */

.frontpage-container {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10rem;

    .building-img {
        display: block;
        width: 75%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        mask-image: url("../img/mask-destroyed.png");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
    }

    .blurb-img {
        display: block;
        width: 33%;
        height: 50%;
        position: absolute;
        transform: translate(15%, -35%) rotate(-5deg);
    }

    .blurb-txt {
        z-index: 1;
        width: 32%;
        position: absolute;
        transform: rotate(-5deg) translate(10%, 350px);
        text-align: center;
        font-family: "Roboto";
        font-size: 15px;
        color: black;
        text-shadow: none !important;
    }

    .map-img {
        display: block;
        width: 33%;
        height: 50%;
        position: absolute;
        transform: translate(840px, -35%) rotate(5deg);
    }

    .map-embed {
        width: 417px;
        height: 200px;
        border: 0px;
        position: absolute;
        z-index: 1;
        transform: rotate(5deg) translate(870px, 271px);
    }

    .title {
        z-index: 1;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 10%;
        left: 50%;
        padding: 10px 20px;
        text-align: center;
        font-family: "Bradley Gratis";
        font-size: 96px;
        text-decoration: none;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        text-shadow:
            2px 2px 0 #000,
            -2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000;
    }

    .subtitle {
        z-index: 1;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 26%;
        left: 50%;
        padding: 10px 20px;
        text-align: center;
        font-family: "Bradley Gratis";
        font-size: 38px;
        text-decoration: none;
        color: white;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        text-shadow:
            1.5px 1.5px 0 #000,
            -1.5px 1.5px 0 #000,
            -1.5px -1.5px 0 #000,
            1.5px -1.5px 0 #000;
    }
}

.menu-image {
    max-height: 250px;
}

.event-image {
    max-height: 300px;
}

.wp-block-latest-posts__list {
    text-align: center;
}

/* #endregion */

/* #region Plugins */
