@font-face {
    font-family: "Chomsky";
    src: url(../fonts/Chomsky.otf) format('embedded-opentype');
    src: url(../fonts/Chomsky.woff) format('woff');
    src: url(../fonts/Chomsky.woff2) format('woff2');
}

// Main content width
@media (min-width: 1400px) {
    .container {
        max-width: 90% !important;
    }
}

// Sidebar width
@media (min-width: 768px) {
    .col-md-4 {
        width: 25% !important;
    }
}

// Background image
body {
    background-image: url("../img/background.webp");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.entry-content, #right-sidebar {
    background-image: url("../img/div.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

// Header
.top-header {
    background: rgb(0, 0, 0);
    background-image: url(../img/header-fade-notext.png);
    background-image: url(../img/header-fade-notext.png), radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(93,53,0,1) 50%, rgba(0,0,0,1) 100%); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: center;
}

// Header text
.header-title, .header-title a, .header-subtitle {
    height: 57%;
    font-family: "Chomsky";
    font-size: 110px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    text-shadow:
        2px 2px 0 #000,
        -2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000;
}

.header-subtitle {
    font-size: 33px;
    font-style: italic;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

// Navbar gradient
.navbar {
    background-color: #330f03 !important;
    --bs-navbar-padding-y: 0 !important;
}

// Navbar links outline
.nav-link {
    font-size: 20px;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}

// Hide site name on navbar
.navbar-brand {
    display: none !important;
}

// Center navbar content
.ms-auto {
    margin-left: 0 !important;
}

.navbar-expand-md .navbar-collapse {
    justify-content: center !important;
}

// ~ Main styling ~
h1 { 
    font-family: "Chomsky";
}

// Minimum height for proper footer placement
#page-wrapper, #error-404-wrapper {
    min-height: calc(100vh - 150px - 150px); // - header, - footer
}

// Footer
#wrapper-footer {
    background-color: #330f03;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // E-Mail/Facebook icons
    .footer-links {
        display: flex !important;
        justify-content: center;      

        a {
            color: #c7a56b;
            font-size: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }      
    }

    // Copyright
    .footer-information {
        display: flex !important;
        justify-content: center;

        p {
            color: #c7a56b;
            font-size: 24px;
            margin: 0;
        }

        i {
            color: #c7a56b;
            font-size: 24px;
            margin: 0;
            padding: 7px;
        }
    }
}

:where(.wp-block-columns) {
    margin-bottom: 0px;
}

// ~ Plugins and add-ons ~
// = Events Manager Pro =
#eventslist div {
    margin-bottom: 1rem;
}

#eventslist p {
    margin-bottom: 0;
}

.em.em-calendar {
    --date-color: black;
    --calendar-background: #c7a56b;
    --date-background: #c7a56b;
}

.em-cal-head {
    --calendar-background: #aa8a53;
    --header-color: black;
    font-family: "Chomsky";
    font-size: 32px;
}

.em-cal-day-date {
    --date-border-color: #330f03 !important;
}

.eventless-today, .eventful-today {
    --date-color: red;
    text-shadow:
        0.5px 0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000;
}

// Calendar pop-up
.em-modal-title {
    font-family: "Chomsky";
    font-size: 32px;
}

.em-modal-popup {
    background-image: url("../img/div.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// ~ Page tweaks ~

// ~ Media queries ~